<div class="auth-component">
  <div class="background"></div>
  <div class="auth-wrapper">
    <div class="box">
      <h2 class="title">Login</h2>
      <form [formGroup]="form" (ngSubmit)="save()">
        <div class="form">
          <div class="form-group">
            <label for="email">Email</label>
            <input
              id="email"
              type="text"
              formControlName="email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              formControlName="password"
            />
          </div>
          <div class="btns-wrapper">
            <button class="btn">{{ isLoginMode ? "Login" : "Sing Up" }}</button>
            <button class="btn" type="button" (click)="onSwitchLoginMode()">Switch to {{ !isLoginMode ? "Login" : "SingUp" }}</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>


