<div class="auth-component">
  <h1>Auth</h1>
  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="form">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="text"
          formControlName="email"
        />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          formControlName="password"
        />
      </div>
      <div class="btns-wrapper">
        <button>{{ isLoginMode ? "Login" : "Sing Up" }}</button>
        <p>|</p>
        <button type="button" (click)="onSwitchLoginMode()">Switch to {{ !isLoginMode ? "Login" : "SingUp" }}</button>
      </div>

    </div>

  </form>
</div>


