<header class="header">
  <div class="header-wrapper">
    <div class="header-logo">
      <a routerLink="/">Recipe Book</a>
    </div>
    <nav class="header-menu">
      <ul>
        <li>
          <a
            class="header-menu__link"
            routerLink="recipes"
            routerLinkActive="active"
          >
            Recipes
          </a>
        </li>
        <li>
          <a
            class="header-menu__link"
            routerLink="shopping-list"
            routerLinkActive="active"
          >Shopping</a>
        </li>
      </ul>
    </nav>
  </div>

<!--  <div class="header-right">-->
<!--    <a (click)="onLogout()"-->
<!--       class="logout"-->
<!--    >-->
<!--      Logout-->
<!--    </a>-->
    <div class="header-manage" appDropDown>
      <div class="header-manage__preview">
        Manage<img src="assets/images/icons/dropdown-arrow.svg">
      </div>
      <div class="header-manage__dropdowm">
            <p (click)="onChangeUser()">Change user</p>
            <p (click)="onLogout()">Logout</p>
<!--        <p (click)="onSaveData()">Save data</p>-->
<!--        <p (click)="onFetchData()">Fetch data</p>-->
<!--        <p>Test</p>-->
      </div>
    </div>
<!--  </div>-->
</header>
