.recipe-list-component {

  .btn-wrapper {
    margin-bottom: 30px;

    .btn {
      background: #00cc00;
      padding: 10px 20px;
      border: none;
      border-radius: 10px;
      font-weight: 700;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: #00a600;
      }
    }

  }

  .recipes-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: calc(100vh - 190px);
  }

}
