<div class="shopping-list-component">
  <div class="shopping-list-add">
    <app-shopping-edit></app-shopping-edit>
  </div>
  <ul class="shopping-list">
<!--    [ngClass]="{'active': activeIngredient?.id === ingredient.id}"-->
    <li
      (click)="onClickListItem(ingredient)"
      class="shopping-list__item"
      *ngFor="let ingredient of ingredients"

    >
      <div class="content">
        <p>{{ ingredient.name }}</p>
        <p>({{ ingredient.amount }})</p>
      </div>
    </li>
  </ul>
</div>
