<p>pipe works!</p>
<select
  [(ngModel)]="sortValue"
>
  <option value="name">Name</option>
  <option value="status">Status</option>
  <option value="date">Date</option>
</select>
<ul class="list">
  <li
    class="list-item"
    *ngFor="let server of servers | sort: sortValue "
    [ngClass]="getStatusClasses(server)"
  >
    <span class="status">{{ server.status }}</span>
    <strong>{{ server.name}}</strong> | {{ server.instanceType | uppercase}}
    | {{ server.started | date:"dd:MM:YYYY" }}
  </li>
</ul>

