.list {
  border: 1px solid #2d2d2d;
  border-radius: 15px;

  &-item {
    position: relative;
    padding: 10px;
    border-bottom: 1px solid #2d2d2d;

    &:last-child {
      border: none;
      border-radius: 0 0 15px 15px;
    }

    &:first-child {
      border-radius: 15px 15px 0 0;
    }

    &.success {
      background: #6cc06c;
    }

    &.warning {
      background: #dada6a;
    }

    &.danger {
      background: #d56262;
    }

    .status {
      position: absolute;
      top: 50%;
      right: 10px;
      padding: 0 3px;
      background: #d9d9d9;
      border-radius: 5px;
      font-size: 10px;
      transform: translateY(-50%);
    }
  }
}
