<div class="shopping-list-component">
  <div class="shopping-list-add">
    <app-shopping-edit></app-shopping-edit>
  </div>
  <div *ngIf="error$ | async">
    Something went wrong
  </div>
  <ul
    *ngIf="!(loader$ | async);else loader"
    #ulList
    class="shopping-list custom-scroll">
    <li
      (click)="onClickListItem(ingredient)"
      class="shopping-list__item"
      [id]="ingredient.id"
      *ngFor="let ingredient of ingredients$ | async"
      [ngClass]="{'active': activeIngredient?.id === ingredient.id}"
    >
      <div class="content">
        <p>{{ ingredient.name }}</p>
        <p>({{ ingredient.amount }})</p>
      </div>
    </li>
  </ul>
</div>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
